.katBtn {
    
}

.parent {
    display: grid;
    place-items: center;
}
 
.visual {
    padding-top: 5px;
    object-fit: fill;
}

#video {
    width: 900px;
    height: 500px;
}

/* width="1024" height="730" */