.leaderboard-grid {
    display: grid;
    /* grid-row: 33% 33% 33%; */
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 5px;
}

.leaderboardTable, .trTable, .thTable, .tdLeaderboard {
    border: 1px solid #ddd;
    border-collapse: collapse;
    background-color: white;
}

.leaderboardTable {
    width: 100%;

}

.thTable {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(220, 20, 60);
    color: white;
}

.trTable tr:nth-child(even){background-color: #f2f2f2;}

.trTable tr:hover {background-color: #ddd;}



