.leaderboard-grid {
    display: grid;
    grid-row: auto auto auto;
    width: 100%;
    grid-column-gap: 50px;
}

.leaderboardTable, .trTable, .thTable, .tdLeaderboard {
    border: 1px solid #333;
    border-collapse: collapse;
}