.mainView {
    /* background: #F4F4F4; */
    display: grid;
    justify-content: center;
    padding-top: 40px;
    height: 100vh;
  } 

  .grid-containerTop {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px, 25px;
    height: 250px;
  }

   .grid-containerBot {

    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    grid-template-columns: 50% 50%;
    grid-gap: 10px, 25px;
    padding-top: 5px;
    /* grid-row-gap: 25px; */
  }

  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 60px;
    margin: 5px;
    width: 200px;
    height: 200px;
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
  }
