/* css er skummelt */

#top {
	height: 80px;
}

.containerInput {
	display: flex;
	justify-content: center;
	padding-top: 10px;
	font-weight: bolder;
	color: #300C09;
	font-size: 20px;
}

#suggestions {
padding: 10px;
margin-left: 500px;
position: absolute;
background-color: white;
font-size: 20px;

}

li{
	color: black;
	list-style-type: none;
	padding: 5px;
}

li:visited{
	color: blue;
}

li:hover, li:active {
	color: hotpink;
}

#focusInput {
	padding: 10px;
	width: 50%;
	border-radius: 0;
	/* border: none; */
	background-color: white;
	color: #300C09;
	margin: 0px;
	font-size: 20px;
}

.containerMessages {
	background-color:  white;
	padding: 20px;
	display: flex;
	justify-content: center;
	border: 2px black;
	margin: 10px;
	
}

option {
	font-size: 20px;
	font-weight: bold;
}

.containerForFluff {
	width: 100%;
	min-height: 200px;
	max-height: 200px;
	margin-top: 20px;
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 50px; 
	background-color: white;
}

#valgtMelding{
	float: left;
	margin-left: 20px; 
	width: 75%;
	font-size: 25px;
	margin: 0px;
	padding: 10px;
	margin-right: 25px;
	font-weight: bolder;
	color: #300C09;
}

.sendButton {
	position: absolute;
	padding: 10px;
	width: 20%;
	background: white;
	/* color: white; */
	float: right;
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 0;
}

.sendButton:hover {
	background-color: #bbb;
}

#select0, #select1, #select2, #select3{
/* utsende */
color: #555;
border: 1px solid #AAA;
border-radius: 2px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
text-overflow: ellipsis;
white-space: nowrap;

/* størrelse */
height: 400px;
min-width: 100px;
max-width: 300px;
margin: 5px;
box-sizing: border-box;
padding-top: 2px;
padding-bottom: 2px;
font-size: 15px;
}

#select0::-webkit-scrollbar, #select1::-webkit-scrollbar, #select2::-webkit-scrollbar, #select3::-webkit-scrollbar {
	display: none;
}
