/* css er skummelt */
.containerMessages {
	padding-top: 30px;
	display: flex;
	justify-content: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
	width: 100%;
}
.containerForFluff {
	padding: 10px, 5px;
	display: flex;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
	width: 100%;
	height: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
}
#select0, #select1, #select2, #select3{
	-webkit-appearance: button;
	-moz-appearance: button;
	-webkit-user-select: none;
	-moz-user-select: none;
	-webkit-padding-end: 20px;
	-moz-padding-end: 20px;
	-webkit-padding-start: 2px;
	-moz-padding-start: 2px;
	background-position: center right;
	background-repeat: no-repeat;
	border: 1px solid #AAA;
	border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	color: #555;
	font-size: inherit;
	margin: 5px;
	size: 10;
	width: auto;
	height: 300px;
	box-sizing: border-box;
	padding-top: 2px;
	padding-bottom: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 18px;
    }
#select0::-webkit-scrollbar, #select1::-webkit-scrollbar, #select2::-webkit-scrollbar, #select3::-webkit-scrollbar {
	display: none;
}
#top {
	padding-top: 150px;
}
.sendButton {
	color: black;
	height: 45px;
	text-align: center;
	width: 100px;
	border-radius: 5%;
	margin-left: 15px;
}
.sendButton:focus {
	background-color: lightgreen;
}