body#mainView {
    background-color: rgba(211, 47, 47, 0.2);
  } 
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background: rgb(211, 47, 47);
    padding: 10px;
    color: #fff;
    
  }
  
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 90px;
    font-size: 60px;
    text-align: center;
  }
  